{% extends 'base.html.twig' %}
{% block title %}
    404
{% endblock title %}

{% block body %}
    <div class="p-5 col-md-12 bg-white">
        <div class="p-5 col-lg-5" style="float:none;margin:auto;">
            <div class="alert alert-success" role="success">404 page not found!</div>
        </div>
    </div>


{% endblock body %}