<div class="p-5 col-md-12 bg-white">
    <div class="col-md-12 bg-white" style="padding-top: 5%;padding-bottom: 5%;">
        <div class="alert alert-danger" role="danger">404 page not found!</div>
    </div>
</div>