{% extends 'base.html.twig' %}
{% block title %}
    404
{% endblock title %}

{% block body %}
    <div class="col-md-12 bg-white" style="padding-top: 5%;padding-bottom: 5%;">
        <div class="p-5 col-lg-5" style="float:none;margin:auto;">
            <div class="alert alert-danger" role="danger">403 Access Denied!</div>
        </div>
    </div>


{% endblock body %}