{% extends 'basen1.html.twig' %}

{% block body %}
{% block title %}<div class="text-center" ><h1>confirmation: Locataire </h1> <br/>{% endblock %}
<br>
<!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Merci votre publication sera ajoutée.</span>
          </div>
        </div>
          <!--================ confirmation part end =================-->
{% endblock %}