{% extends "::basen1.html.twig" %}



<br>

{% block body %}
    {% block title %} velo.tn {% endblock %}
    <div class="text-center" ><h1> Ajout location </h1> <br/>
        <br>

<div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        </div>
        </div>
        <!-- /.container-fluid -->

       

    </div>
  
 
{% endblock %}