{% extends 'baseAdmin.html.twig' %}
{% block headerTitle %}Ajouter annonce{% endblock headerTitle %}
{% block annonce %}class="active treeview menu-open"{% endblock annonce %}
{% block ajoutannonce %}class="active"{% endblock ajoutannonce %}
{% block body %}
    <br>
    <div class="container">
        {{ form(form) }}
    </div>

    <script src="{{ asset('js/a.js') }}"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
        $( document ).ready(function() {
            console.log( "document loaded" );
            var a=$('.b').val();
            if(a=='Vélo'){
                console.log('velo selected');
                $( ".k" ).prop( "disabled", false );
            }
            if(a=='Pièce de rechange'){
                console.log('piece selected');
                $( ".k" ).prop( "disabled", true );
                $( ".k" ).val( " " );


            }
            if(a=='Accessoire'){
                console.log('acc selected');
                $( ".k" ).prop( "disabled", true );

            }
        });

        $( window ).on( "load", function() {
            console.log( "window loaded" );

        });
    </script>


{% endblock body %}
{% block customjs %}

    <!-- custom js -->
    <script src="{{ asset('js/custom1.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'fr',
                orientation: 'auto bottom'
            });
        });
        (function($){
            $.fn.datepicker.dates['fr'] = {
                days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
                daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
                daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
                months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
                monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
                today: "Aujourd'hui",
                monthsTitle: "Mois",
                clear: "Effacer",
                weekStart: 1,
                format: "dd/mm/yyyy"
            };
        }(jQuery));
    </script>

{% endblock customjs %}