{% extends 'baseAdmin.html.twig' %}
{% block headerTitle %}Ajouter utilisateur{% endblock headerTitle %}
{% block user %}class="active treeview menu-open"{% endblock user %}
{% block adduser %}class="active"{% endblock adduser %}
{% block body %}
    <br>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock body %}
