{% extends 'baseAdmin.html.twig' %}
{% block headerTitle %}Modifier Mot de passe{% endblock headerTitle %}
{% block body %}
    <br>
    <div class="container">
        {{ form(form) }}
    </div>
{% endblock body %}
