{% extends 'baseAdmin.html.twig' %}
{% block title %} Modifier utilisateur{% endblock title %}
{% block headerTitle %}Modifier utilisateur{% endblock headerTitle %}
{% block body %}
    <br>
    <div class="container">
        {{ form(form) }}
    </div>
    <style>
        .gg{

            background-color: #ecf0f5;
            border-color: #ecf0f5;
            margin-bottom: 0px;
            margin-top: -15px;

        }
    </style>
{% endblock body %}
