{% extends 'baseAdmin.html.twig' %}
{% block headerTitle %}Liste des statistiques{% endblock headerTitle %}
{% block annonce %}class="active treeview menu-open"{% endblock annonce %}
{% block stat %}class="active"{% endblock stat %}
{% block body %}



    <br>
    <div class="container">
    <div id="div_chart1"></div>
        <hr>
        <div id="div_chart2"></div>
        <hr>
        <div id="div_chart3"></div>
        <hr>
        <div id="div_chart4"></div>
        <hr>
    </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw([piechart1, piechart2, piechart3, piechart4], ['div_chart1', 'div_chart2', 'div_chart3', 'div_chart4']) }}

    </script>
{% endblock body %}
