{% trans_default_domain 'FOSUserBundle' %}
<div class="p-5 col-lg-5" style="float:none;margin:auto;">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_security_register_override'), 'attr': {'class': 'fos_user_registration_register', 'novalidate' : 'novalidate'}}) }}
    {{ form_widget(form) }}

    <div>
        <input class="form-control btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>