<div style="margin-left: 12%;margin-bottom: 1%;width:75%;border-color: ghostwhite;border: solid; background-repeat:no-repeat;
background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');height: 500px;
">
    <div style="background-color: white;width: 50%;margin-left: 25%;opacity: 111%;height: 50%;text-align: -webkit-center;margin-top: 12%;">

        <br><br>
<h3 style="color: red">Annonce ajouté! </h3>

Bonjour<p style="size: 20px"><strong>{{ name }}!</strong></p>  votre annonce a été ajoutée avec succès au {{ "now"|date("m/d/Y à h:m") }}.<br>

{# example, assuming you have a route named "login" #}
{#To login, go to: <a href="{{ url('login') }}">...</a>.#}

<strong>Merci!</strong>
    {#<img src="https://www.educol.net/image-velo-7-dm9803.jpg">#}
</div>
</div>
{# Makes an absolute URL to the /images/logo.png file #}
