{% extends 'basea.html.twig' %}
{% block content %}
    <h1>Modifier un Produit</h1>

    {{ form_start(f)}}
    {{ form_end(f)}}
    <div class="col-md-12 form-group p_star"> {{ form_row(f.Save)}}</div>
{% endblock %}
