{% extends 'basen1.html.twig' %}

{% block body %}

  <div class="text-center" ><h1>Confirmation </h1> <br/></div>
<br>
<!--================ confirmation part start =================-->
  <section class="confirmation_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>Merci votre publication sera ajoutée</span>
          </div>
        </div>
      </div>
    </div>
          <!--================ confirmation part end =================-->
          
{% endblock %}