{% extends 'basen1.html.twig' %}

{% block body %}


        {{ form_start(form) }}
	<br><br> <div class="text-center"><h1> Formulaire ajout location </h1></div><br><br>


    <div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-outline-primary"> Valider </button>
        {{ form_end(form) }}

    </div>

    <br>    <br>    <br>    <br>

{% endblock %}




        


       

       